{% include 'exports/header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <title>Home</title>
</head>
<body>

    <section class="about-sudoku">
      <h1>Bem-vindo ao Sudoku Mania</h1>
      <p>O lugar perfeito para desafiar sua mente e aprimorar suas habilidades lógicas!</p>
     </section>
    
      
        <section class="hero-image">
          <h2>Resolva o Sudoku</h2>
          <p>Desfrute da emoção de resolver quebra-cabeças desafiadores e aprimore suas habilidades mentais.</p>
          <a href="/game" class="cta-button">Experimente Agora</a>
        </section>
      
        <section class="sudoku-section">
          <h2>Por que Sudoku?</h2>
          <p>O Sudoku é um jogo de lógica que estimula o cérebro, melhorando o raciocínio e a concentração. Além disso, é uma ótima maneira de relaxar e se divertir.</p>
        </section>

   
    </body>
{% include 'exports/footer.html' %}

</html>


