body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.about-sudoku {
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
}

section {
  margin: 20px;
}

h2 {
  color: #333;
}

p {
  line-height: 1.6;
}

.hero-image {
  background-image: url('../images/flor.jpg');
  background-size: cover;
  background-position: bottom;
  height: 400px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.hero-image h2 {
  background-color: #8a8a8a86;
  backdrop-filter: blur(5px);
  width: 10em;
  align-items: center;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.hero-image p {
  font-size: 20px;
  background-color: #8a8a8a86;
  backdrop-filter: blur(5px);
  align-items: center;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  width: 12em;
  color: rgb(0, 0, 0);
  font-weight: 800;


}

.cta-button {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #45a049;
}

.sudoku-section {
  align-items: center;
  text-align: center;
}

