{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
</head>
<body>
    <footer>
        
        <i class="fa-brands fa-github  fa-2xl" style="color: #b6bdcc; width: 45px; cursor: pointer;"></i>
        <i class="fa-brands fa-linkedin  fa-2xl" style="color: #b6bdcc;width: 45px ;cursor: pointer;"></i>       
  
      </footer>
      <script src="https://kit.fontawesome.com/b316447b19.js" crossorigin="anonymous"></script>
</body>
</html>